.pr-5 {
  padding-right: 5px;
}

.pt-5 {
  padding-top: 5px;
}

.mt-2 {
  margin-top: 2px;
}

.rounded {
  border-radius: 0.25rem !important;
}

.float-left {
  float: left !important;
}

.float-right {
  float: right !important;
}

.float-none {
  float: none !important;
}

/*-------- Button -------- */
.btn-dns-primary {
  color: var(--contrast-color);
  background: var(--accent-color);
  border: 0;
  padding: 10px 30px;
  transition: 0.4s;
  border-radius: 10px;
}

.btn-dns-primary:hover {
  color: var(--contrast-color);
  background: color-mix(in srgb, var(--accent-color), transparent 25%);
}
